body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #5a2d14;
}

.containter {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section {
    border: 2px solid #5a2d14;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #eae4d3;
}

.section h2{
    background-color: #5a2d14;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

input, textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #5a2d14;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #7d4a32;
}

@media (max-width: 600px) {
    .containter {
        padding: 10px;
    }

    input, textarea {
        font-size: 12px;
    }
}

